/* Write your CSS code here */
.blog-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 15px;
}

@media screen and (min-width: 576px) {
  .blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.blog-info {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .blog-info {
    width: 60%;
  }
}

.blog-details-title {
  font-family: Roboto;
  color: #000000;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  .blog-details-title {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

.author-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.author-pic {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.author-details-name {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
}

.blog-image {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  object-fit: cover;
}

@media screen and (min-width: 575px) {
  .blog-image {
    width: 660px;
    height: 300px;
  }
}

.blog-content {
  font-family: Roboto;
  font-size: 18px;
  color: #2f4f4f;
  margin-top: 15px;
  font-weight: 600;
}
